#wall {
    display: grid;
    padding: 25px 20px 100px;
    overflow: auto
}
.box-container {
    cursor: pointer;
}
.box-details-container{
    font-size: 0.7em;
    width: fit-content;
    transition: transform 0.4s;
    transform:scale(1);
}
.box-details-container.hover {
    z-index: 1;
    position: relative;
    --details-margin: 10px;
    padding: var(--details-margin);
    top: calc(var(--details-margin) * -1);
    left: calc(var(--details-margin) * -1);
    transform:scale(1.2);
}
