.featured-media img{        
              //height: 100%;
              width: 100%;
}             
              
table{        
  border-collapse: collapse;              
}             
              
/*            
              
body{         
              margin: 5vh 10vw;
              padding: 10px;
              border: 1px solid lightgrey;
}             
*/            
